*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body{
  width:100%;
  height:100%;
  font-family:system-ui;
  background:#0f172a;
  color:white;
  overflow:hidden;
}

/* LAYOUT GENERAL */
.layout{
  display:flex;
  width:100vw;
  height:100vh;
}

/* PANEL LATERAL 25% */
.sidebar{
  width:25%;
  background:linear-gradient(180deg,#111827,#1f2937);
  padding:40px 30px;
  display:flex;
  flex-direction:column;
  gap:30px;
  justify-content:flex-start;
  box-shadow:5px 0 30px rgba(0,0,0,.5);
}

.sidebar h1{
  font-size:22px;
  letter-spacing:2px;
  margin-bottom:20px;
}

/* TARJETAS CONTADOR */
.card{
  background:rgba(255,255,255,.05);
  padding:20px;
  border-radius:20px;
  transition:.3s ease;
}

.card span{
  font-size:13px;
  opacity:.7;
}

.card h2{
  font-size:60px;
  margin-top:10px;
}

/* EFECTO ACTIVO */
.active-left{
  box-shadow:0 0 25px #00ff88;
  transform:scale(1.05);
}

.active-right{
  box-shadow:0 0 25px #00aaff;
  transform:scale(1.05);
}

/* BOTÓN */
button{
  padding:12px;
  border:none;
  border-radius:12px;
  background:#00ffff;
  color:#000;
  font-weight:bold;
  cursor:pointer;
  margin-top:auto;
  transition:.3s;
}

button:hover{
  transform:scale(1.05);
}

/* CAMARA 75% */
.camera-area{
  width:75%;
  position:relative;
}

video, canvas{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}

canvas{
  pointer-events:none;
}
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#1f2937;
  padding:40px;
  border-radius:20px;
  width:400px;
  text-align:left;
  box-shadow:0 0 40px rgba(0,255,255,.3);
}

.modal-content h2{
  margin-bottom:20px;
}

.modal-content ul{
  margin-bottom:20px;
  line-height:1.8;
}

.modal.active{
  display:flex;
}

